body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1F2937;
    height: 200px;
}

h1{
    font-family: 'Karla', sans-serif;
    color: white;
    width: 446px;
    margin: 115px auto 0;
}

span{
    color: #4ADF86;
}

#head{
    color:white;
    width: 446px;
    display: block;
    margin: 0 auto 35px;
    font-size: 16px;
    
}

#head p{
    margin-top:10px;
    width: 372px;
}


#head button{
    color: inherit;
    background-color: #10B981;
    padding: 9px 16px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    width: 250px;
    margin: 0 auto;
    display: block;
}

hr{
    width: 446px;
    border: solid 1px #2F3E53;
}

#passwords{
    display: flex;
    justify-content: center;
}

#passwords div{
    width:max-content;
    padding: 0 10px;
    height: 39px;
    background-color: #273549;
    margin: 35px 12px;
    border-radius: 6px;
    line-height: 39px;
    text-align: center;
    color: #55F991;
    font-size: 16px;
    cursor:copy;
    user-select: none;
    animation-duration: 1s;
}

@keyframes copy{
    from{background-color:#55F991}
    to{background-color:#273549}
}

.slider{
    appearance: none;
    background: #273549;
    border-radius: 20px;
    height: 10px;
    margin-top: 12px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #55F991;
    border-radius: 50%;
    cursor: pointer; 
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:51px 0 30px;
}

#password-length{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.options div{
    margin: 5px 0;
}

.checkbox-label{
    user-select: none;
}

.checkbox{
    cursor: pointer;
}